[Default]
url = https://ztpki-staging.venafi.com/api/v2
hawk-id = default-hawk-id
hawk-api = default-hawk-api
format = pem
policy = f50ed424-ba78-4656-9733-2bb8a3814fc1
key-size = 2048
key-type = rsa
validity = 365
chain = true

[test]
url = https://ztpki-staging.venafi.com/api/v2
hawk-id = test-hawk-id
hawk-api = test-hawk-api
format = pem
policy = f50ed424-ba78-4656-9733-2bb8a3814fc1
key-size = 2048
key-type = rsa
validity = 90
chain = false
